body {
    margin: 0 auto;
    padding: 0;
    min-width: 350px;
    font: 400 16px/1.5em "Popins", sans-serif;
}

a {
    color: inherit; 
    text-decoration: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.tabbed [type="radio"] {
    display: none;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: 0;
}
.tab{
    flex: 1 0 auto;
}
.tab > label {
    display: block;
    margin-bottom: -1px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    background: #eee;
    color: #666;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
}
.tab:hover label {
    border-top-color: #333;
    color: #333;
}

.tab-content {
    display: none;
    color: #777;
    padding: 0 20px;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label,
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tabs .tab:nth-of-type(6) label {
    border-bottom-color: #fff;
    border-top-color: #b721ff;
    background: #fff;
    color: #222;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tab-content:nth-of-type(5),
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tab-content:nth-of-type(6) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, 550px);
    gap: 20px;

}
img{
    width: 100%;

}
.item{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px;
    gap: 20px;
    transition: all .2s ease-in-out;
  
}
.item:hover{
    transform: scale(1.05);
}
.image-wrapper{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
}
p{
    overflow: hidden;
    text-overflow: ellipsis;
     /*white-space: nowrap;*/
    min-height: 10%;
    margin: 0;
    padding: 16px 0;

}
.item:hover{
    box-shadow: rgb(25 25 25 / 40%) 0 1px 4px;
}
@media screen and (max-width: 659px) {
    
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tab-content:nth-of-type(5),
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tab-content:nth-of-type(6) {
    
    grid-auto-rows: minmax(250px, calc((100vh - 134px)/2));
  }
.tab {
    flex: 1 1 calc(100% / 3);
}
    
}
.hookah{
    background-image: url("../img/hookah.webp");
}
.b_brush{
    background-image: url("../img/b_brush.webp");
}
.b_cond{
    background-image: url("../img/b_cond.webp");
}
.b_oil{
    background-image: url("../img/b_oil.webp");
}
.b_shampoo{
    background-image: url("../img/b_shampoo.webp");
}
.b_vosk{
    background-image: url("../img/b_vosk.webp");
}
.b_all{
    background-image: url("../img/b_all.webp");
}
.card_2{
    background-image: url("../img/card_2.webp");
}
.chehol{
    background-image: url("../img/chehol.webp");
}
.drift{
    background-image: url("../img/drift.webp");
}
.extrim{
    background-image: url("../img/extrim.webp");
}
.knife{
    background-image: url("../img/knife.webp");
}
.kormil{
    background-image: url("../img/kormil.webp");
}
.kowelek{
    background-image: url("../img/kowelek.webp");
}
.kvadr{
    background-image: url("../img/kvadr.webp");
}
.massaj{
    background-image: url("../img/massaj.webp");
}
.poilka{
    background-image: url("../img/poilka.webp");
}
.samolet{
    background-image: url("../img/samolet.webp");
}
.ssd{
    background-image: url("../img/ssd.webp");
}
.stanciya{
    background-image: url("../img/stanciya.webp");
}
.vesi{
    background-image: url("../img/vesi.webp");
}
.w_g102{
    background-image: url("../img/w_g102.webp");
}
.w_g305{
    background-image: url("../img/w_g305.webp");
}
.w_podstavka{
    background-image: url("../img/w_podstavka.webp");
}
.w_kniga{
    background-image: url("../img/w_kniga.webp");
}
.w_klava{
    background-image: url("../img/w_klawa.webp");
}