body {
    margin: 0 auto;
    padding: 0;
    min-width: 350px;
    font: 400 16px/1.5em "Popins", sans-serif;
}

a {
    color: inherit; 
    text-decoration: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.tabbed [type="radio"] {
    display: none;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: 0;
}
.tab{
    flex: 1 0 auto;
}
.tab > label {
    display: block;
    margin-bottom: -1px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    background: #eee;
    color: #666;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
}
.tab:hover label {
    border-top-color: #333;
    color: #333;
}

.tab-content {
    display: none;
    color: #777;
    padding: 0 20px;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label,
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tabs .tab:nth-of-type(6) label {
    border-bottom-color: #fff;
    border-top-color: #b721ff;
    background: #fff;
    color: #222;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tab-content:nth-of-type(5),
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tab-content:nth-of-type(6) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, 550px);
    gap: 20px;

}
img{
    width: 100%;

}
.item{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 32px 10px;
    gap: 20px;
    transition: all .2s ease-in-out;
  
}
.item:hover{
    transform: scale(1.05);
}
.image-wrapper{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
}
p{
    min-height: 50px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.item:hover{
    box-shadow: rgb(25 25 25 / 40%) 0 1px 4px;
}
@media screen and (max-width: 659px) {
    
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tab-content:nth-of-type(5),
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tab-content:nth-of-type(6) {
    
    grid-auto-rows: minmax(250px, calc((100vh - 134px)/2));
  }
.tab {
    flex: 1 1 calc(100% / 3);
}
    
}

.w_g305{
    background-image: url("../img/Wyka/w_g305.webp");
}
.w_derjatel{
    background-image: url("../img/Wyka/derjatel.webp");
}
.w_dojdevik{
    background-image: url("../img/Wyka/dojdevik.webp");
}
.w_fonar{
    background-image: url("../img/Wyka/fonar.webp");
}
.w_nabor{
    background-image: url("../img/Wyka/nabor.webp");
}
.w_symka{
    background-image: url("../img/Wyka/symka.webp");
}


.v_wetka{
    background-image: url("../img/Vlad/v_wetka.webp");
}
.v_kamera{
    background-image: url("../img/Vlad/v_kamera.webp");
}


.j_keg{
    background-image: url("../img/Jeka/j_keg.webp");
}
.j_maika{
    background-image: url("../img/Jeka/j_maika.webp");
}
.j_melnica{
    background-image: url("../img/Jeka/j_melnica.webp");
}
.j_port{
    background-image: url("../img/Jeka/j_port.webp");
}
.j_derj{
    background-image: url("../img/Jeka/j_derj.webp");
}
.j_kamen{
    background-image: url("../img/Jeka/j_kamen.webp");
}
.j_irr{
    background-image: url("../img/Jeka/j_irr.webp");
}

.d_cam{
    background-image: url("../img/Dima/d_cam.webp");
}
.d_micr{
    background-image: url("../img/Dima/d_micr.webp");
}
.d_wetka{
    background-image: url("../img/Dima/d_wetka.webp");
}
